:root {
    /* Fondos */
    --bg-app: #f2f2f2;       /* Gris muy claro para el fondo general de la página */
    --bg-card: #ffffff;      /* Blanco puro para las tarjetas */

    /* Marca (Primary) */
    --primary: #2563eb;      /* Azul vibrante para botones, íconos o acentos */
    --primary-hover: #1d4ed8;/* Azul más oscuro para interacciones (hover) */

    /* Tipografía */
    --text-main: #0f172a;    /* Casi negro para títulos y saldos (máxima legibilidad) */
    --text-muted: #64748b;   /* Gris medio para subtítulos o texto secundario */

    /* Semántica Financiera (Feedback visual obligatorio) */
    --success-text: #059669; /* Verde para variaciones positivas */
    --success-bg: #d1fae5;   /* Fondo verde suave para el badge */
    --danger-text: #e11d48;  /* Rojo para variaciones negativas */
    --danger-bg: #ffe4e6;    /* Fondo rojo suave para el badge */
}