 #root {
    display: flexbox;
    align-self: start;
    justify-content: space-around;
  }

  /* Aplicación del fondo general */
  body {
    background-color: var(--bg-app);
    color: var(--text-main);
    display: flex;
    align-self: start;
    
  }

  h1 {
    color: var(--text-main);
  }

  /* Card de resumen: */

  .resume-card {
    display: flexbox;
    justify-content: space-between;
    align-items: flex-start;
    height: 10rem;
    width: 20rem;
    padding: 25px;
    border-radius: 12px;
    background: var(--bg-card);
    box-shadow: var(--text-main);
    margin-bottom: 15px;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .stats {
    display: flex;
    /*justify-content: space-between;*/
    gap: 1rem;
  }

  /* .div-porcent {
    background-color: ;
  } */

  .logo-card {
    height: 2rem;
    width: 2rem;
    opacity: 0.2;
  }